/* our cause page stylesheet */
/* aditional */
.aditional {
    width: 100%;
    height: auto;
    padding: 40px 4%;
    background-color: #181839;
}

.aditional .aditional-text {
    float: left;
    width: 50%;
}

.aditional .aditional-text h2 {
    text-align: center;
    text-transform: uppercase;
}

.aditional .aditional-text { text-align: justify; }

.aditional .aditional-text h2, .aditional .aditional-text p { color: white; }

.aditional .wraper-social-medias {
    float: right;
    width: 50%;
}

.aditional .wraper-social-medias .facebook, .instagram, .twitter {
    width: 300px;
    height: 74px;
    margin: 0 auto;
    cursor: pointer;
    background-color: white;
    border-bottom: 4px solid #181839;
}

.aditional .wraper-social-medias .facebook:hover, .instagram:hover, .twitter:hover {
    width: 300px;
    height: 74px;
    margin: 0 auto;
    background-color:#181839;
    border-bottom: 4px solid #181839;
}

.aditional .wraper-social-medias .facebook .logo-facebook {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/facebook-purple.png');
}

.aditional .wraper-social-medias .facebook .logo-facebook:hover {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/facebook-white.png');
}

.aditional .wraper-social-medias .instagram .logo-instagram {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/instagram-purple.png');
}

.aditional .wraper-social-medias .instagram .logo-instagram:hover {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/instagram-white.png');
}

.aditional .wraper-social-medias .twitter .logo-twitter {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/twitter-purple.png');
}

.aditional .wraper-social-medias .twitter .logo-twitter:hover {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/twitter-white.png');
}
