/* sign in page stylesheet */
main {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 2%;
}

.btn-login-person,
.btn-login-voluntary,
.btn-login-voluntary-pf,
.btn-login-voluntary-pj {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    color: white;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #181839;
    border: 2px solid #8281b7
}

.btn-login-voluntary-pf,
.btn-login-voluntary-pj { 
    padding: 20px 0;
    font-size: 17px;
}

.btn-login-person:hover,
.btn-login-voluntary:hover,
.btn-login-voluntary-pf:hover,
.btn-login-voluntary-pj:hover {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    color: #8281b7;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid #8281b7;
}

.btn-login-voluntary-pf:hover,
.btn-login-voluntary-pj:hover { 
    padding: 20px 0;
    font-size: 17px;
}

.login-person,
.second-step-login-voluntary,
.login-voluntary-pf,
.login-voluntary-pj { display: none;}
