/* sign up page stylesheet */
/* main */
main {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 110px;
}

/* first step */
.first-step {
    display: inline;
    width: 100%;
    height: auto;
    max-width: 1200px;
}

.first-step .btn-person, .btn-voluntary {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    color: white;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #181839;
    border: 2px solid #8281b7;
}

.first-step .btn-person:hover, .btn-voluntary:hover {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    color: #8281b7;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid #8281b7;
}

/* second-step */
.second-step-person, .second-step-voluntary { display: none; }

.first-step {
    display: inline;
    width: 100%;
    height: auto;
    max-width: 1200px;
}

.second-step-voluntary .btn-pf, .btn-pj {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 0;
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #181839;
    border: 2px solid #8281b7;
}

.second-step-voluntary .btn-pf:hover, .btn-pj:hover {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 0;
    color: #8281b7;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid #8281b7;
}

/* third step voluntary */
.third-step-voluntary-pf, .third-step-voluntary-pj { display: none; }
