/* sign up page stylesheet */
/* main */
main {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 2%;
}

/* first step */
.first-step {
    display: inline;
    max-width: 1200px;
}

.first-step .btn-person,
.btn-voluntary {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    color: white;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #181839;
    border: 2px solid #8281b7;
}

.first-step .btn-person:hover,
.btn-voluntary:hover {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    color: #8281b7;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid #8281b7;
}

/* second-step */
.second-step-person,
.second-step-voluntary { display: none; }

.second-step-voluntary .btn-pf,
.btn-pj {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 0;
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #181839;
    border: 2px solid #8281b7;
}

.second-step-voluntary .btn-pf:hover,
.btn-pj:hover {
    width: 270px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 0;
    color: #8281b7;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid #8281b7;
}

/* second step person*/


.second-step-person #formPerson .submit-form-person {
    width: 170px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    background-color: #181839;
    border: 2px solid #8281b7;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.second-step-person #formPerson .submit-form-person:hover {
    color: #8281b7;
    background-color: white;
}

/* third step voluntary */
.third-step-voluntary-pf,
.third-step-voluntary-pj { display: none; }

.third-step-voluntary-pf #formVoluntaryPf .submit-form-voluntary-pf,
.third-step-voluntary-pj #formVoluntaryPj .submit-form-voluntary-pj {
    width: 170px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    background-color: #181839;
    border: 2px solid #8281b7;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.third-step-voluntary-pf #formVoluntaryPf .submit-form-voluntary-pf:hover,
.third-step-voluntary-pj #formVoluntaryPj .submit-form-voluntary-pj:hover {
    color: #8281b7;
    background-color: white;
}
