/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html,body { 
    height: 100%;
    overflow-x: hidden;
}

/* general */
.clear { clear: both; }

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.logo-container { 
    float: left; 
    margin-top: 5px;
    margin-left: 50px;
}

.logo-container img {
    width: 240px;
    height: 70px;
}

.desktop-menu { float: right; }

.desktop-menu ul {
    list-style-type: none;
}

.desktop-menu ul li { 
    float: left;
    margin-top: 32px;
    margin-right: 70px;
}

.desktop-menu ul li a {
    color: #8281a4;
    text-decoration: none;
    font-size: 20px;
}

.menu-icon {
    display: none;
    float: right;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/open-menu.png')
}

.mobile-menu { display: none; }

/* background */
.background img {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    max-height: 550px; 
}

/* partners */
.partners {
    width: 100%;
    height: auto;
}

.partners .logo-partners-wraper {
    display: inline-block;
    margin-left: 70px;
    margin-right: -4px;
    padding: 1% 2%;
}

.partners .logo-partners-wraper .logo-partner {
    width: 200px;
    height: 80px;
    background-color: black;
    background-size: cover;
}

/* first-headline */
.first-headline {
    margin: 80px 0;
}

.first-headline h1 {
    padding: 40px 2%;
    text-align: center;
    text-transform: uppercase;
}

.first-headline p {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 2% 2%;
    text-align: justify;
    line-height: 35px;
}

.first-headline .btn-join {
    width: 200px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    background-color:#181839;
    border-radius: 18px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.first-headline .btn-join a { text-decoration: none; }

.first-headline .btn-join p {
    color: white;
    padding-top: 1px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.first-headline .btn-join:hover {
    border: 2px solid #181839;
    border-radius: 18px;
    background-color: white;
}

.first-headline .btn-join p:hover { color: #181839; }

/* second-headline */
.wraper-content {
    width: 100%;
    height: auto;
    max-width: 33.3%;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: -4px;
}

.wraper-content .icon-team {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/together.png');
}

.wraper-content .icon-mission {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/mission.png');
}

.wraper-content .icon-impact {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/impact.png');
}
.wraper-content h3 {
    margin-top: 30px;
    color: #181839;
    text-align: center;
    text-transform: uppercase;
}

.wraper-content p {
    padding: 2% 2%;
    margin: 0 2%;
    color: #8c81a4;
    text-align: justify;
}

/* add-information */ 
.add-information {
    width: 100%;
    height: auto;
    padding: 30px 2%;
    background-color: #181839;
}

.add-information .wraper-logo-conectados {
    width: 240px;
    height: 70px;
    margin: 0 auto;
    margin-left: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/logo-conectados-white.png');
}

.add-information .wraper-add-informations .mail-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/mail.png')
}

.add-information .wraper-add-informations .phone-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/phone.png')
}

.add-information .wraper-add-informations .address-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-image: url('../icon/address.png')
}

.add-information .wraper-menu-shortcut { text-align: center; }

.add-information .wraper-menu-shortcut ul { list-style-type: none; }

.add-information .wraper-menu-shortcut ul li a { 
    color: white;
    text-decoration: none;
}

.add-information .wraper-add-informations p { 
    color: white;
    font-size: right; 
    text-align: center;
}

/* footer */
footer {
    margin: 10px 0;
    padding: 0 4%;
    color: #181839;
    font-size: 15px;
}

.column-1 { float: left; }

.column-2 { float: right; }

/* media-queries */
@media screen and (max-width: 1290px) {
    /* partners */
    .partners .logo-partners-wraper { margin-left: 60px; }
    
    .partners .logo-partners-wraper .logo-partner { width: 170px; }
}

@media screen and (max-width: 1190px) {
    /* main */

}

@media screen and (max-width: 1180px) {
    /* header */
    .logo-container { margin-left: 50px; }
    
    .logo-container img { width: 200px; }

    .desktop-menu ul li { margin-right: 50px; }
}

@media screen and (max-width: 1170px) {
    /* partners */
    .partners .logo-partners-wraper { margin-left: 30px; }
}

@media screen and (max-width: 1016px) {
    /* header */
    .logo-container { margin-left: 30px; }

    .logo-container img { width: 170px; }

    .desktop-menu ul li { margin-right: 30px; }
}

@media screen and (max-width: 984px) {
    /* partners */
    .partners .logo-partners-wraper { margin-left: 20px; }
}

@media screen and (max-width: 948px) {
    /* main */

}

@media screen and (max-width: 918px) {
    /* partners */
    .partners .logo-partners-wraper { margin-left: 10px; }
}

@media screen and (max-width: 874px) {
    .desktop-menu { display: none; }

    .menu-icon { 
        display: block;
        margin-top: 8px;
        margin-right: 30px;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
        text-align: center;
    }

    .mobile-menu ul { 
        z-index: 999;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        text-align: center;
        background-color: white;
        list-style-type: none;
    }

    .mobile-menu ul li { border-bottom: 2px solid #8c81a4; }

    .mobile-menu ul li a {
        color: #8c81a4;
        font-size: 20px;
        text-decoration: none;
    }
}

@media screen and (max-width: 864px) {
    /* partners */     
    .partners .logo-partners-wraper { margin-left: 0; }
}

@media screen and (max-width: 856px) {
    /* header */

}

@media screen and (max-width: 806px) {
    /* partners */
    .partners .logo-partners-wraper { margin-left:130px;}
}

@media screen and (max-width: 768px) {
    .partners .logo-partners-wraper { margin-left: 100px;}
}

@media screen and (max-width: 698px) {
    .partners .logo-partners-wraper { margin-left: 80px; }
}

@media screen and (max-width: 642px) {
    .partners .logo-partners-wraper { margin-left: 60px; }
}

@media screen and (max-width: 586px) {
    .partners .logo-partners-wraper { margin-left: 40px; }
}

@media screen and (max-width: 508px) {
    .partners .logo-partners-wraper { margin-left: 20px;}
}

@media screen and (max-width: 484px) {
    /* header */
    .logo-container { 
        float: left; 
        margin-top: 5px;
        margin-left: 30px;
    }
    
    .logo-container img {
        width: 170px;
        height: 70px;
    }

    .menu-icon { 
        width: 40px;
        height: 40px;
        margin-top: 21px;
    }
    
    .mobile-menu ul li a { font-size: 13px; }

    /* first-headline */
    .first-headline p {
        padding: 2% 4%;
        font-size: 13px;
    }
    
    .first-headline .btn-join { width: 170px; }
    
    .first-headline .btn-join p { font-size: 13px; }

    /* second-headline */
    .wraper-content { display: inline; }
    
    .wraper-content .icon-team {
        width: 100px;
        height: 100px;
    }
    
    .wraper-content .icon-mission {
        width: 100px;
        height: 100px;
    }
    
    .wraper-content .icon-impact {
        width: 100px;
        height: 100px;
    }
    
    .wraper-content p { font-size: 13px; }

    /* add-information */
    .add-information {
        width: 100%;
        height: auto;
        padding: 60px 2%;
        background-color: #181839;
    }
    
    .add-information .wraper-logo-conectados {
        width: 240px;
        height: 70px;
        margin: 0 auto;
        background-color: black;
    }
    
    .add-information .wraper-menu-shortcut { 
        padding: 40px 0;
        text-align: center; 
        font-size: 13px;
    }
    
    .add-information .wraper-menu-shortcut ul { list-style-type: none; }
    
    .add-information .wraper-menu-shortcut ul li a { 
        color: white;
        text-decoration: none;
    }

    .add-information .wraper-add-informations p { 
        color: white; 
        text-align: center;
        margin: 0 auto;
    }

    footer p {
        padding: 0 2%;
        font-size: 13px;
    }
}

@media screen and (max-width: 442px) {
    .partners .logo-partners-wraper { margin-left: 10px;}
}

@media screen and (max-width: 424px) {
    footer { text-align: center; }

    .column-1 { float: none;}

    .column-2 { float: none;}
}

@media screen and (max-width: 402px) {
    .partners .logo-partners-wraper { margin-left: 0;}
}

@media screen and (max-width: 374px) {
    .partners { margin: 0 auto;}
    .partners .logo-partners-wraper { margin-left: 0;}
}

@media screen and (max-width: 372px) {
    .partners .logo-partners-wraper { margin-left: 0;}
}

@media screen and (max-width: 364px) {
    .partners .logo-partners-wraper { margin-left: 100px; }
}

@media screen and (max-width: 360px) {
    .partners .logo-partners-wraper { margin-left: 80px; }
}

@media screen and (max-width: 330px) {
    .partners .logo-partners-wraper { margin-left: 60px; }
}
