/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html,body { height: 100%; }

/* general */
.clear { clear: both; }

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.logo-container { 
    float: left; 
    margin-top: 5px;
    margin-left: 50px;
}

.logo-container img {
    width: 240px;
    height: 70px;
}

.desktop-menu { float: right; }

.desktop-menu ul {
    list-style-type: none;
}

.desktop-menu ul li { 
    float: left;
    margin-top: 32px;
    margin-right: 70px;
}

.desktop-menu ul li a {
    color: #8281a4;
    text-decoration: none;
    font-size: 20px;
}

.mobile-menu { display: none; }

/* background */
.background img {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    max-height: 550px; 
}

/* partners */
.partners {
    width: 100%;
    height: auto;
    background-color: pink;
}

.partners .logo-partners-wraper {
    display: inline-block;
    margin-left: 70px;
    margin-right: -4px;
    padding: 1% 2%;
}

.partners .logo-partners-wraper .logo-partner {
    width: 200px;
    height: 80px;
    background-color: blue;
    background-size: cover;
}

/* first-headline */
.first-headline {
    margin: 80px 0;
}

.first-headline h1 {
    padding: 40px 2%;
    text-align: center;
    text-transform: uppercase;
}

.first-headline p {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
    line-height: 35px;
}

.first-headline .btn-join {
    width: 200px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    background-color:#181839;
    border-radius: 18px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.first-headline .btn-join a { text-decoration: none; }

.first-headline .btn-join p {
    color: white;
    padding-top: 1px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.first-headline .btn-join:hover {
    border: 2px solid #181839;
    border-radius: 18px;
    background-color: white;
}

.first-headline .btn-join p:hover { color: #181839; }

/* second-headline */
.wraper-content {
    width: 100%;
    height: auto;
    max-width: 33.3%;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: -4px;
}

.wraper-content .icon-team {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: black;
}

.wraper-content .icon-mission {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: black;
}

.wraper-content .icon-impact {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: black;
}
.wraper-content h3 {
    margin-top: 30px;
    color: #181839;
    text-align: center;
    text-transform: uppercase;
}

.wraper-content p {
    padding: 2% 2%;
    margin: 0 2%;
    color: #8c81a4;
    text-align: justify;
}

/* add-information */ 
.add-information {
    width: 100%;
    height: auto;
    padding: 30px 2%;
    background-color: #181839;
}

.add-information .wraper-logo-conectados {
    width: 240px;
    height: 70px;
    margin-left: 70px;
    background-color: black;
}

.add-information .wraper-menu-shortcut { text-align: center; }

.add-information .wraper-menu-shortcut ul { list-style-type: none; }

.add-information .wraper-menu-shortcut ul li a { 
    color: white;
    text-decoration: none;
}

.add-information .wraper-add-informations p {
    color: white;
}

/* footer */
footer {
    margin: 10px 0;
    color: #181839;
    font-size: 20px;
}

.column-1 { float: left; }

.column-2 { float: right; }

/* media-queries */
