/* who we are page stylesheet */
/* team */
.team {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 40px 2%;
    padding-bottom: 60px;
    max-width: 1200px;
    background-color: purple;
}

.team h1 {
    padding: 30px 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.team p {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 2%;
    color: white;
    text-align: justify;
    line-height: 30px;
}

.team .logo-biblios {
    width: 240px;
    height: 90px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/logo-biblios.png');
}

/* desafio recoders */
.desafio-recoders {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #8c81a4;
}

.desafio-recoders h1 {
    padding: 20px 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.desafio-recoders p {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
    padding-bottom: 20px;
    color: white;
    text-align: justify;
    line-height: 20px;
}

/* wraper-members */
.flex-mosaic {
	display: flex;

}

.item1-mosaic {
	width: 40%;
	background-position: center;
	background-size: cover;
	border: 2px solid white;
}

.item2-mosaic {
	width: 60%;
	padding: 60px 40px;
	color: white;
	text-align: justify;
	background-color: #181839;
	border: 2px solid white;
}

.item2-mosaic h2 { text-align: center; }

/* medias queries */
@media screen and (max-width: 768px) {
	.flex-mosaic {
		display: block;
	}

	.item1-mosaic {
		width: 100%;
		padding-top: 100%;
	}

	.item2-mosaic {
		width: 100%;
	}
}
